<h1>Subtraction</h1>

<dl>

  <dt>First Number</dt>
  <dd><%= @first %></dd>

  <dt>Second Number</dt>
  <dd><%= @second %></dd>

  <dt>Result</dt>
  <dd><%= @result %></dd>
  
</dl>

<a href="/minus_form">Do another subtraction</a>
